.container-input {
  text-align: center;
  background: #dbdbdb;
  border-top: 3px solid #d58850;
  border-radius: 6px;
  margin: 0 auto;
}

input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

input[type="file"] + label {
  max-width: 80%;
  font-size: 1.25rem;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
}

input[type="file"] + label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  margin-right: 0.25em;
}

.iborrainputfile {
font-size:16px; 
font-weight:normal;
font-family: 'Lato';
}


input[type="file"] + label {
  color: rgb(0, 0, 0);
}

input[type="file"]:focus + label,
input[type="file"].has-focus + label,
input[type="file"] + label:hover {
  color: #d58850;
}

@media (max-width: 576px) { 
  .container-input {
    text-align: center;
    background: #dbdbdb;
    border-top: 3px solid #d58850;;
    padding: 1px 0;
    border-radius: 6px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}